*{
    margin: 0;
}

.Listing{
    position: relative;
    flex: 0 0 15%;
    margin: 2%;
    height: 25vmax;
    border: 1px solid black;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-width: 600px;
    min-width: 100px;
}

.Listing:hover{
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .Listing{
        flex: 0 0 20%;
    }
}

@media (max-width: 1000px) {
    .Listing{
        flex: 0 0 20%;
    }
}

@media (max-width: 600px) {
    .Listing{
        flex: 0 0 35%;
    }
}

.picture{
    width: 100%;
    height: 60%;
    border-bottom: 1px solid black;
    background-image: url(../images/PC1.jpg);
    border-radius: 4px;
    background-size: cover;
}

.info{
    width: 100%;
    height: 40%;
}

.Typelabel{
    position: absolute;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    /* background-color: black; */
    backdrop-filter: blur(30px);
    display:flex;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}