.PropertyUpload {
    color: rgb(88, 88, 88);
}

.UploadMain {
    width: 90vw;
    height: 30vh;
    background-color: rgb(94, 94, 94);
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4%;
}

.UploadMain h4 {
    font-weight: 300;
}


.PropertyUpload .Upload_div {
    width: 90vw;
    margin: auto;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

.PropertyUpload .Upload_div form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.PropertyUpload .Upload_div form .select_options {
    display: flex;
    flex-direction: row;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}

.PropertyUpload .Upload_div form .select_options input {
    width: 25vw;
    height: 5vh;
    box-sizing: border-box;
    padding: 1vmax;
}

.PropertyUpload .Upload_div form .select_options input::placeholder {
    font-size: small;
}

.upload_labels {
    font-size: 1.5vmax;
    font-weight: 600;
}

.PropertyUpload .Upload_div form button {
    background-color: transparent;
    border: 1px solid grey;
    width: 8vmax;
    height: 3vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;

}

.preview_section {
    color: rgb(88, 88, 88);
    width: 40vmax;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.preview_section hr {
    width: 95%;
}

.preview_section .live_preview {
    width: 30vmax;
    border: 6px solid rgb(155, 155, 155);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.live_preview .preview_picture {
    margin-top: 1%;
    width: 98%;
    height: 30vh;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.preview_section .price_type {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.property_type {
    font-size: 1vmax;
    font-weight: 700;
}

.mini_price_tag {
    display: flex;
    font-weight: 500;
    align-items: baseline;
    width: 4.5vmax;
    justify-content: space-between;
}

.mini_price_tag .currency {
    font-size: 0.8vmax;
}

.mini_price_tag .amount {
    font-size: 1.2vmax;
}

.live_preview .size,
.live_preview .short_description,
.live_preview .description {
    display: flex;
    width: 95%;
    font-size: 1vmax;
}

.live_preview .short_description,
.live_preview .description {
    font-size: 1.2vmax;
}